.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.top {
  background-image: url("./images/bg-hero-desktop.svg")
}

.mockups {
  height: 25%;
  width: 25%;
}