@import url(//fonts.googleapis.com/css?family=Poppins);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  display: block;
  margin: 0px;
}

h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
}

.h1-top {
  font-size: 35px;
  max-width: 68%;
}

.top {
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: hsla(200, 100%, 96%, 0.93);
  padding-bottom: 3%;
}

.div-header {
  display: flex;
  padding-top: 2.5%;
}

.try {
  margin-left: 69%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 12%;
  height: 40px;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 14px;
  background-color: white;
  border-color: white;
  border: 1px solid #e7e7e7;
  box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.2), 0 2px 2px 0 rgba(188, 188, 188, 0.19);
}

.logo {
  margin-left: 6%;
  height: 10%;
  width: 10%
}

.first-section {
  display: flex;
  margin-top: 3%;
  margin-left: 3%;
}

.left-first-div {
  margin-top: 5.5%;
  margin-left: 3%;
  max-width: 43%;
}

.mockups {
  max-width: 48%;
  max-height: 480px;
}

.p1 {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  max-width: 86%;
  margin-bottom: 5%
}

.get {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 12%;
  width: 49%;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-color: white;
  border: 1px solid #e7e7e7;
  box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.2), 0 2px 2px 0 rgba(188, 188, 188, 0.19);
}

.second-section {
  margin-top: 5%;    
  margin-left: 6%;    
  max-width: 87%;
  max-height: 430px;    
  display: flex;
}

.second-square {
  display: flex;
  padding-right: 20px;
  padding-left: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.31);
}

.left-second-div {
  margin-top: 12%;
}

.grow {
  margin-top: 5%;
  max-width: 37%;
  max-height: 78%;
}

.p2 {
  font-family: 'Open Sans';
  width: 66%;
  color: darkgray;
}

.third-section {
  margin-top: 2%;    
  margin-left: 6%;    
  max-width: 87%;
  max-height: 430px;   
  display: flex;
}

.third-square {
  display: flex;
  padding-right: 20px;
  padding-left: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.31);
}

.conversation {
  margin-top: 6%;
  max-width: 39%;
  max-height: 71%; 
}

.right-third-div {
  padding-left: 20.5%;    
  margin-top: 12%;  
}

.p3 {
  font-family: 'Open Sans';
  color: darkgray;
}

.fourth-section {
  margin-top: 2%;    
  margin-left: 6%;    
  max-width: 87%;
  max-height: 430px;   
  display: flex;    
}

.fourth-square {
  display: flex;
  padding-right: 20px;
  padding-left: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.31);  
}

.left-fourth-div {
  margin-top: 12%;    
}

.p4 {
  font-family: 'Open Sans';
  width: 67%;
  color: darkgray;  
}

.users {
  margin-top: 5%;
  max-width: 41.5%;
  max-height: 74%;    
}

footer {
  position: grid;
}

.fifth-square {
  position:absolute; 
  top:2200px;
  width: 55%;
  height: 260px;    
  margin-left: 20%;    
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(173, 173, 173, 0.31);
}

#h1-ready {
  padding-top: 5%;
  padding-bottom: 4%;
  letter-spacing: 2px;
}

#get2 {
  font-size: 17px;
  height: 26%
}

#footer-div {
  display: flex;
  margin-top: 330px;      
  background-color: #00252e;
  color: white;
}

#left-footer-div {
  max-width: 28%;
  padding-top: 125px;
  padding-left: 100px;
}

#logo-bottom {
  width: 55%;
  filter: brightness(0) invert(1);
}

#location {
  display: flex;    
  margin-top: 35px;    
}

#location-image {
  padding-top: 6px;    
  height: 16px;
}

#p-location {
  margin: 0 0 0 25px;
  max-width: 66%;
  font-family: 'Open Sans';    
  font-size: 13px;
}

#phone {
  display: flex;    
  margin-top: 30px;    
}

#phone-image {
  height: 15px;
}

#p-phone {
  margin: 0 0 0 20px;
  max-width: 30%;
  font-family: 'Open Sans';    
  font-size: 13px;
}

#email {
  display: flex;    
  margin-top: 30px;    
}

#email-image {
  height: 14px;
}

#p-email {
  margin: 0 0 0 20px;
  max-width: 30%;
  font-family: 'Open Sans';    
  font-size: 13px;
}

#footer-middle1-ul {
  list-style-type: none;
  width: 110px;
  padding-top: 177px;
}

#footer-middle2-ul {
  margin-left: 90px;    
  list-style-type: none;
  width: 110px;
  padding-top: 177px;  
}

li {
  padding-top: 10px;
}

a {
  font-size: 13px;   
  font-family: 'Open Sans';
  max-width: 100%;
  color: white;
  text-decoration-line: none
}

#social {
  width: 200px;
  margin-left: 120px;    
  padding-top: 200px; 
}

.social-images {
  padding: 7px 6px;
  border: solid 1px;
  border-radius: 50%;
  margin-left: 15px;    
  filter: brightness(0) invert(1);
  height: 22px;
  width: 25px;
}

#div-attribution {
    padding-bottom: 40px;
    background-color: #00252e;
    color: white;
}

.attribution {
  margin-top: 0;
  margin-bottom: 7px;
  margin-left: 72%;;
  font-family: 'Open Sans';
  font-size: 12px;
}
.attribution a {
  font-family: 'Open Sans';
  font-size: 12px;
  color: hsl(228, 87%, 76%);
}