@import url(//fonts.googleapis.com/css?family=Poppins);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
  font-family: 'Poppins';
  font-weight: 600;
	max-width: 60%;
	font-size: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.top {
  background-image: url("./images/bg-hero-desktop.svg");
	background-color: hsla(200, 100%, 96%, 0.93)
}

.div-header {
  display: flex;
  padding-top: 2.5%;
}

.try {
  margin-left: 70%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 11%;
	height: 40px;
	font-family: 'Open Sans';
	font-weight: 600;
	background-color: white;
	border-color: white;
	border: 1px solid #e7e7e7;
	box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.2), 0 2px 2px 0 rgba(188, 188, 188, 0.19);
}

.logo {
  margin-left: 3%;
  height: 10%;
  width: 10%
}

.first-section {
  display: flex;
  margin-top: 4%;
  margin-left: 3%;
}

.left-first-div {
	max-width: 32%;
}

.mockups {
	height: 100%;
	width: 55%;
}

.right-first-div {

}

.p1 {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  max-width: 90%;
	margin-bottom: 5%
}

.get {
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	height: 15%;
	width: 65%;
	font-family: 'Open Sans';
	font-weight: 600;
	color: white;
	background-color: hsl(322, 100%, 66%);
	border-color: white;
	border: 1px solid #e7e7e7;
	box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.2), 0 2px 2px 0 rgba(188, 188, 188, 0.19);
}